* {
  font-size: 14px;
  font-family: "Source Code Pro";
}

window#waybar {
    background: rgba(0,0,0,0);
    color: #000
}

#submap {
    margin-right: 1em;
    color: #ff0;
}

#workspaces button, #window {
    color: #999;
}

#workspaces button.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

#clock {
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#network {
  padding: 5px;
}

#idle_inhibitor, #network, #clock, #cpu, #memory, #clock, #tray {
  margin: 0 10px;
  padding: 0 5px;
  color: #fff;
}
#clock {
    margin-right: 0;
}

